<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="profile.css">
<body>
<p class = " okay">profile</p>
<div>
    <h2>Profile</h2>
</div>
</body>
</html>